# Copyright © 2026, Polyana Fontes; Thayná Batista da Silva — Integrative Projects Observatory All rights reserved.

.env
vendor/
storage/attachments/*
!storage/attachments/.gitkeep
.idea/
.vscode/
*.log
